.password-btn {
  width: 50px; /* Default compact width */
  transition: all 0.55s ease;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 20px;
  position: absolute;
  top: 2.5%;
  right: 2.5%;
}

.password-btn:hover {
  width: 190px; /* Expanded width on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional subtle shadow */
  border-radius: 20px;
}
